# requirements-dev.txt
-r requirements.txt  # "also install everything from requirements.txt"
appnope
asttokens
comm
debugpy
decorator
executing
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib # If you plan to use scikit-learn or scipy for other things
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline # If you plot within Jupyter
mpmath
nest-asyncio
networkx
parso
pexpect
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
Pyzmq
scikit-learn # If you plan to use it in dev
scipy # If you plan to use it in dev
six
stack-data
sympy
threadpoolctl
tornado
wcwidth